<% layout("/layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <br>
          <input name="listing[title]" 
                 value="<%= listing.title %>"
                 type="text"
                 class="form-control" 
                 required/>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <br>
          <textarea name="listing[description]"  class="form-control" required><%= listing.description %></textarea>
          <div class="invalid-feedback">
            Please enter the short description!
          </div>
        </div>

        <!-- Updated image fields -->
        <!-- <div class="mb-3">
          <label for="imageUrl" class="form-lable">Image URL</label>
          <br>
          <input name="listing[image][url]"
                 value=" listing.image.url "
                 type="text"
                 class="form-control" 
                 required/>
        </div> -->

        <div class="mb-3">
          Original Listing Image <br>
         <img src="<%=originalImageUrl%>" alt="">
        </div>

        <div class="mb-3">
          <label for="imageUrl" class="form-lable">Update New Image </label>
          <br>
          <input name="listing[image]"
                 type="file"
                 class="form-control" 
                 />
        </div>

        <!-- <div class="mb-3">
          <label for="imageFilename" class="form-lable">Image Filename</label>
          <br>
          <input name="listing[image][filename]"
                 value=" listing.image.filename "
                 type="text"
                 class="form-control" 
                 required/>
        </div> -->
        <!-- End of image fields -->

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <br>
            <input name="listing[price]"  
                   value="<%= listing.price %>" 
                   type="number" 
                   class="form-control" 
                   required />
            <div class="invalid-feedback">
              Price should be valid!
            </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <br>
            <input name="listing[country]"  
                   value="<%= listing.country %>" 
                   type="text" 
                   class="form-control"  
                   required />
            <div class="invalid-feedback">
              Please enter the valid country name!
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <br>
          <input name="listing[location]"
                 value="<%= listing.location %>"
                 type="text"
                 class="form-control" 
                 required/>
          <div class="invalid-feedback">
            Please enter the valid location!
          </div>
        </div>

        <button class="btn btn-dark add-btn mt-3 mb-3">Edit</button>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
